* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Roboto', 'Arial', sans-serif;
}

header {
    text-align: center;
    line-height: 4rem;
    background-color: rgb(181, 181, 181);
}

.row-container {
    display: flex;
    flex-flow: row wrap;
    min-height: 300px;
    width: auto;
}

.col-container {
    display: flex;
    flex-flow: column nowrap;
}

.display {
    display: flex;
    flex: 4 1 auto;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: rgb(240, 240, 240);
}

.catImage {
    height: 350px;
    width: auto;
    margin: 0 20px;
    border-radius: 30px;
    box-shadow: 7px 7px 15px rgb(97, 97, 97);
}

.nameList {
    display: flex;
    padding: 5px;
    flex: content 1 auto;
    background-color: rgb(244, 252, 215);
}

.counter, .catName {
    line-height: 3rem;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(68, 68, 68);
    line-height: 2.5rem;
    color: white;
}
